body{
    background-color: beige;
    margin: 0 auto;
    max-width: 1466px;
}
h1,a{
    text-decoration: none; 
    color: white;
    font-size: medium;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    padding:20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.logo{
    margin-right: auto;
}
nav{
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 3vw);
    grid-gap: 400px;
}
.gallery__img {
    width: 350px;
    height: 450px;
    object-fit:contain
}

